/* ScrollBar styling */
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
  border: 1px solid #efefef;
}
::-webkit-scrollbar-thumb {
  background: #b8b5b5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9b9999;
}

body {
  /* font-family: "Inter", sans-serif !important; */
  margin: 0;
  /* min-height: "100vh"; */
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

/* 
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.login-button {
  background-color: #2a3d75 !important;
}

.notSelectedSubItem p {
  /* font-weight: bold; */
  color: #615e5d;
}


.customMuiLink {
  color: #008ceb !important;
  cursor: pointer !important;
}

/* Header */
.headerTopUserInfo {
  height: 40px !important;
  box-shadow: 0px 1px 1px #5368862b !important;
  border: 1px solid #eaeaea !important;
  border-radius: 8px !important;
}

.headerTopUserInfo .userName {
  margin-left: 5px !important;
}

.headerTopUserInfo .downArrow {
  margin-left: 5px;
  font-size: 18px;
}

#menu-appbar {
  top: 50px !important;
  height: 195px;
}

.MuiPaper-elevation8 {
  right: 10px !important;
  min-width: 190px !important;
  /* for logout */
  /* Commented out to resolve filter styling issue in all grids */
  /* max-width: 320px !important; */
  /* for color picker in inventory configuration */
}

